.Toggle {
  width: auto;
  height: 48px;
  position: absolute;
  right: 10px;
  top: 0;
  > .Lable {
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    position: relative;
    float: left;
    opacity: 0;
    margin-right: -20px;
    transition: all 200ms;
  }
  > .Control {
    height: 24px;
    width: 45px;
    position: relative;
    float: left;
    border: 1px solid #eee;
    border-radius: 27px;
    margin: 10px;
    margin-right: 0px;
    cursor: pointer;
    >.Button {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 2px;
      left: 2px;
      border-radius: 20px;
      background-color: #ccc;
      transition: all 200ms;
    }
  }
  &.True {
    > .Lable {
      opacity: 1;
      margin-right: 0px;
    }
    > .Control {
      >.Button {
        left: calc(100% - 22px);
        background-color: #614C84;
      }
    }
  }
}