.Container > .App {
  > .Form {
    position: absolute;
    width: 560px;
    height: auto;
    background-color: #fafcfe;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    border: 1px solid #dedede;
    border-radius: 8px;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 32px;
    > .Item {
      position: relative;
      float: left;
      width: 100%;
      &.Header {
        height: 81px;
        > .UserImg {
          width: 48px;
          height: 48px;
          background-color: #fff;
          border-radius: 28px;
          margin: 16px;
          background-image: url("./_Images/UserImg.png");
          box-sizing: border-box;
          border: 1px solid #eee;
          position: relative;
          float: left;
        }
        > .Message {
          width: auto;
          height: 60px;
          background-color: #fff;
          border-radius: 13px;
          margin: 10px;
          margin-left: 0;
          box-sizing: border-box;
          border: 1px solid #eee;
          position: relative;
          float: left;
          padding: 10px;
          padding-left: 20px;
          padding-right: 20px;
          color: #9991bb;
        }
      }
      &.Field {
        height: 66px;
        padding-right: 16px;
        padding-left: 16px;
        box-sizing: border-box;
        padding-top: 5px;
        padding-bottom: 5px;
        &.Search {
          z-index: 2;
        }
        > .Box {
          width: 100%;
          height: 48px;
          background-color: #fff;
          border-radius: 28px;
          box-sizing: border-box;
          border: 1px solid #eee;
          position: relative;
          float: left;
          > input {
            width: 100%;
            height: 48px;
            border: 0px;
            text-decoration-line: none;
            background: transparent;
            text-indent: 24px;
            font-size: 16px;
            border: 1px solid transparent;
            box-sizing: border-box;
            border-radius: 30px;
            &:focus, &:focus{
              border: 1px solid #3A2E55;
              outline: none;
            }
            &::-webkit-input-placeholder {
              color: #ccc;
              outline: none;
            }
            &:-moz-placeholder {
              color: #ccc;
            }
          }
        }
        &.AskButton {
          > .Box {
            cursor: pointer;
            width: 186px;
            float: right;
            background-color: #3A2E55;
            >.Icon {
              width: 36px;
              height: 36px;
              border-radius: 27px;
              background-color: #21BE93;
              position: relative;
              float: left;
              margin: 5px;
            }
            >.Lable {
              width:calc(100% -  51px);
              height: 36px;
              position: relative;
              float: left;
              margin-right: 5px;
              margin-top: 5px;
              line-height: 36px;
              color: #ccc;
              text-indent: 10px;
            }
          }
        }
      }
    }
  }
}