.Dropdown {
  width: 100%;
  height: 48px;
  background-color: #fff;
  border-radius: 28px;
  box-sizing: border-box;
  border: 1px solid #eee;
  position: relative;
  float: left;
  padding-left: 18px;
}